.ust {
	
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
}

.ust2 {
	position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 70px;
}

.logo {
	display: block;
    margin: 24px 0;
    width: 236px;
    text-align: center;
    position: relative;
    transition: all .2s;
}

.ust3 {
	flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}


.urunler{
	display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
    height: 100%;
}


.000ustyazilar1 {
	;
}


.ustyazilar   {
	list-style: none;
	height: 100%;
	
}

.ustyazilar  li {

	height: 100%;
	float: left;
    display: block;

	

}

.ustyazilar  li a {
	padding: 25px 8px;
	display: flex;
	text-decoration: none;
	font-size: larger;
    
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #fff

}
	
.ustyazilar li:hover > a {
    color: #fa9628;
}

.arama {
	display: flex;
    padding-left: 25px;
}

.sagust {
    align-self: center !important;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    padding-left: 40px;
}

.sagust2 {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}

.turuncu {
    border-radius: 10px;
    background-color: #fa9628;
    text-decoration: none;
    display: inline-block;
    padding: 10px;

}

.turuncuspan {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;

}

.siparishatti {
    color: #9a560a;
    font-size: 17px;
    font-weight: 500;
}

.tel {
    color: #fff;
    font-style: normal;
    display: block;
    line-height: 1.2;
    font-size: 23px;
    font-weight: 900;
   
}

.kirmizibuton {
    border-radius: 10px;
    background-color: #cc021b;
    text-decoration: none;
    display: inline-block;
    padding: 10px;

}

.kirmizispan {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;

}

.online{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;

}

.siparisver{
    color: #fff;
    font-style: normal;
    display: block;
    line-height: 1.2;
    font-size: 23px;
    font-weight: 900;
    font-style: normal;

}

.sepet {
    width: 60px;
    text-align:center;
    background-color: #585858;
    padding-top: 12px;
    border-radius:10px;

}

.Slide {
    width: 100%;
    display: block; 
}   
.right-button {
    color: #fff!important;
    background-color: #000!important;   
    position: absolute;
    top: 35%;
    left: 95%;
    transform: translate(0%,-50%);
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    opacity: 0.5;
    
    
}
.left-button {
    color: #fff!important;
    background-color: #000!important;
    position: absolute;
    top: 35%;
    right: 95%;
    transform: translate(0%,-50%);
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    opacity: 0.5;
    
    
    
}
.orta-buton{
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  z-index: 2;
  width:100%;
}

.turuncu1{
    background-color: #fa9628;
    border: none;
    border-radius: 50px 0 0 50px;
    padding: 20px;
    float: left;
    margin-top: -75px;
    margin-left: 180px;
    position: relative;
}
.kirmizi1{
    background-color: #cc021b;
    border: none;
    padding: 20px;
    float:left;
    margin-top: -75px;
    position: relative;
}
.gri1{
    background-color:#585858;
    border: none;
    padding: 20px;
    border-radius: 0 50px 50px 0;
    float:left;
    margin-top: -75px;
    position: relative;
    
}

.turuncu1 span{
    color: #ffffff;
    font-size: 41px;
    font-weight: 700;
    vertical-align: 18px;
    font-style: normal;
    padding-left: 10px;
}
.turuncu1 em{
    vertical-align: 12px;
    font-size: 18px;
    color: #000000;
}
.kirmizi1 span{
    color: #ffffff;
    font-size: 41px;
    font-weight: 700;
    vertical-align: 12px;
    font-style: normal; 
}
.kirmizi1 em{
    vertical-align: 12px;
    font-size: 18px;
    color: #000000;
}
.gri1 em{
    color: #ffffff;
    font-size: 18px;
    vertical-align: 28px;
    font-style: normal;
}
.duzeltme{
    margin-left: 50px;
    margin-right: 50px;
}
.duzeltme1{
    margin-left: 10px;
    margin-right: 10px;
}

.solalt {
    flex: 0 0 25%;
    max-width: 25%;
    @media (min-width: 576px)
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-logo {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
 .footer {
    padding-top: 60px;
    background-color: #101010;
    display: block;
 }

 .alt {
    @media (min-width: 1200px)
    max-width: 1140px;
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto;
    margin-left: auto;
    display: block;

 }

 .alt2 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 50px;
 }

 .solalt {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 25%;
    max-width: 20%;

 }

 .cizgi {
   margin-top: 15px;
   margin-bottom: 15px;
   height: 1px;
   background-color: #FFF;
   display: block !important;
   margin: 10px 0;
   opacity: 0.54;
   border: 0;
  
 }

 .solalt2 {
    max-width: 100%;
    height: auto; 
    vertical-align: middle;
    border-style: none;

 }

 .ortakisim {
    display: block !important;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    position: relative;
    width: 100%;
    
    padding-left: 15px;
 }

 .ortakisim2 {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
 }

 .kurumsal {
    padding-right: 0;
    padding-left: 0
    flex-basis: 0;
    flex-grow: 1;
    max-width: 30%;
    position: relative;
    width: 100%;

 }

 .footer-title {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 12px;
    margin-bottom: 15px;
    position: relative;
    font-family: sans-serif;
 }

 footer h5:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 19px;
    background-color: #fa9628;
 }

.footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration:none;
    color:white;
    font-family: sans-serif;
}

.footer ul li {
    margin-bottom: 18px;

    
}

.footer :hover > a {
    color: #fa9628;
    }
.footer ul a {
    color: #FFF;
    font-weight: 300;
    text-decoration: none;
    background-color: transparent;

}

.onemli {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 30%;
    padding-right: 0;
    padding-left: 0;
    position: relative;
    width: 100%;
}

.destek {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 30%;
    padding-right: 0;
    padding-left: 0;
    position: relative;
    width: 100%;
}

.sagalt {
    display: block !important;
 
}

.sagaltust {

}

.sagaltust a {
    float: left;
    display: block;
    padding: 6px 30px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.12);
}

.sagaltust a svg {
    height: 20px;
}

.enaltkisim {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.17);
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}

.altkolon {
    width: auto;
    flex: 0 0 auto;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 80px;
}

.sosyalmedya {
    margin-right: 40px;
    display: inline-block;
    color: #FFFFFF;
    height: 20px;
    transition: all .1s;
}

.footer .sosyalmedya svg {
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.altyazi {
    text-align: center;
    display: block !important;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    font-family: sans-serif;


}

.altyazi a {
    color: #fa9628;
    text-decoration: none;
    background-color: transparent;
}

.beyaz {
    color: white;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align:center;
}

.kucuk-tablo:hover  {
    background-color:#fa9628;
    color:#ffff;
}
.tablo1{
    text-align:center;
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    color: #444;
    padding-bottom:22px;
    position: relative;
}
.tablo1:after {
    
    content: '';
    display: block;
    width: 87px;
    height: 2px;
    background-color: #fa9628;
    position: absolute;
    left: 0;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
}
.kol-6{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.kol-sm-3{
    flex: 0 0 25%;
    max-width: 18%;
}
.urun-liste-malz{
    border-radius: 20px;
    text-align: center;
}
.mt-30{
    margin-top: 30px;
}
.u-block{
    display: block !important;

}
.urun-liste-malz img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    text-align: center;
    
}
a{
    color: #fa9628;
    text-decoration: none;
    background-color: transparent;
}
img{
    vertical-align: middle;
    border-style: none;
}
.urun-liste-malz .detaylar {
    padding-top: 25px;
    border-radius: 0 0 20px 20px;
    border: 2px solid #f2f2f2;
    border-top: none;
    transition: all ease-in-out .1s;
}
.urun-liste-malz h3{
    font-size: 16px;
    margin: 0;
}
h3{
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    color: #444;
}
.urun-liste-malz span.u-block{
    font-size: 14px;
    color: #9e9d9c;
}
.u-block{
    display: block !important;
}
.urun-liste-malz em{
    font-style: normal;
    margin: 25px 0;
    font-weight: 500;
    font-size: 18px;
}
.orta-urunler{
        
        width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.kolonlar{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.kucuk-tablo{
    
    border: 2px solid #fa9628;
    border-radius: 15px;
    font-size: 14px;
    color: #818181;
    font-weight: 500;
    padding: 4px 19px;
    margin-bottom: 25px;
    display: inline-block;
    transition: all ease-in-out .1s;
    text-align:center;
    font-family:sans-serif;
}
.mb-60{
    margin-bottom: 60px;
}
.mt-30{
    margin-top: 30px;
}
.tex-center{
    text-align: center;
}

.mb-0{
    margin-bottom: 0 !important;
}

.enarkaplan {
    background-image: url(https://kofteciyusuf.com/assets/dist/img/parallax-bg-1.jpg);
    padding: 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;

}

.enarkadiv {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.arkadiv2{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.ustkisim  {
  flex: 0 0 100%;
  max-width: 100%;  
}

.kategoriler {
    padding-bottom: 22px;
    position: relative;
    color: #ffffff;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.75rem;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 1.4;

}

.kategoriler::after {
    content: '';
    display: block;
    width: 87px;
    height: 2px;
    background-color: #fa9628;
    position: absolute;
    left: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.gizle {
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    transition-duration: 0ms;
    transform: translate3d(-1425px, 0px, 0px);
}

.slider {
    width: 255px;
    margin-right: 30px;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;

}

.items {
    color: #fa9628;
    text-decoration: none;
    background-color: transparent;  
}

.items span {
    display: block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    color: #fa9628;
}

.resimler {
    width: 100%;
    vertical-align: middle;
    border-style: none;
    box-sizing: inherit;
}

.items span em {
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 150, 40, 0.8);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: inherit;
    transition: all .2s;

}

.items span:: after {
    content: '';
    display: block;
    position: absolute;
    z-index: 3;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    border: 1px solid #fff;
    border-radius: inherit;
}

.resimyazilari {
    font-size: 18px;
    padding-bottom: 10px;
    color: #ffffff;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 0 !important;
    font-family: sans-serif;
}

.resimyazilari::after {
   width: 33px;
   background-color: #cc021b;
   left: 50%;
   transform: translateX(-50%);
   content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
}

.items span::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 3;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    border: 1px solid #fff;
    border-radius: inherit;
}

.oklar{
    position: absolute;
    
    width: 1170px;
    max-width: 100%;
    left: 50%;
    z-index: 5;
    height: 1px;
    transform: translateX(-50%);  
}

.onceki {
 left: 0;
    transform: translate(-200%, -50%);   
        position: absolute;
    cursor: pointer;
    padding-bottom:400px;
}

.sonraki {
    right: 0;
    transform: translate(200%, -50%);
    position: absolute;
    cursor: pointer;
    padding-bottom:400px; 

}

.solresim {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.sagresim{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.footerust {
    background-image:url(https://kofteciyusuf.com/assets/dist/img/parallax-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.footerust2 {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.resim3lu {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.sonslider {
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;

}



.slideralt {
    position: relative;
    z-index: 1;

}

.slideralt2 {
   position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box; 
}

.slideralt3 {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.resim1 {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.resim1 img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    vertical-align: middle;
    border-style: none;
}

.resim-wrap {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 100%;
}

.resim-wrap img {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 100%;
    vertical-align: middle;
    border-style: none;
}

.altok {
    position: absolute;
    top: 50%;
    width: 1170px;
    max-width: 100%;
    left: 50%;
    z-index: 5;
    height: 1px;
    transform: translateX(-50%);
}

.altokonce {
    width: 40px;
    height: 40px;
    line-height: 39px;
    background-color: rgba(0, 0, 0, 0.54);
    text-align: center;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    position: absolute;
    cursor: pointer;
    transform: translate(-50%, -50%);


}

.altoksonra {
    width: 40px;
    height: 40px;
    line-height: 39px;
    background-color: rgba(0, 0, 0, 0.54);
    text-align: center;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;

}

.noktalar {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    background: rgba(0, 0, 0, 0.54);
    bottom: 10px;
    left: 0;
    width: 100%;
}

.noktalar2 {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: 1
    margin: 0 4px;
}

.kolon1 {
    padding-right: 0;
    padding-left: 0;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: block !important;
    float: left;
    height: 370px;
    width: 370px;
}

.gidaguvenligi {
    color: white;
    font-size: 18px;
    line-height: 1;
    padding: 20px;
    font-weight: 500;
    background-color: #cc021b;
    text-align: center;
    display: block !important;
    text-decoration: none;
    font-family: sans-serif;
}

.d-block {
    display: block !important;
}

.lezzetpis {
    background-color: #585858;
    border-top-right-radius: 10px;
    color: white;
    font-size: 18px;
    line-height: 1;
    padding: 20px;
    font-weight: 500;
    text-align: center;
    display: block !important;
    text-decoration: none;
    font-family: sans-serif;

}

.bizdenhaberler {
    background-color: #fa9628;
    border-top-left-radius: 10px;
    color: white;
    font-size: 18px;
    line-height: 1;
    padding: 20px;
    font-weight: 500;
    text-align: center;
    display: block !important;
    text-decoration: none;
    font-family: sans-serif;

}

.kalin {
    font-weight: bold;
}


